################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CassandraTest/.vs/CassandraTest/v15
/CassandraTest/CassandraTest/bin/Debug/netcoreapp2.0
/CassandraTest/CassandraTest/obj
